<!-- app/views/recipes/search.html.erb -->

<h1>Search Recipes</h1>

<%= form_tag(recipes_search_path, method: :get) do %>
  <%= text_field_tag(:query, params[:query], placeholder: "Enter a search query") %>
  <%= submit_tag("Search") %>
<% end %>

<% if @recipes.present? %>
  <h2>Search Results</h2>
  <ul>
    <% @recipes.each do |recipe| %>
      <li><%= recipe['title'] %></li>
    <% end %>
  </ul>
<% else %>
  <p>No recipes found.</p>
<% end %>
